/* for computer  device  */
/* common style  */
body {
  font-family: "Poppins", sans-serif;
  
}
a {
  text-decoration: none;
}
h1 {
  font-size: 40px;
  font-weight: 700;
}
section {
  margin: 30px 130px;
}

/* header section style  */
.header {
  display: flex;
  justify-content: space-between;
}
.header a {
  display: inline-block;
  margin-top: 15px;
  padding-left: 10px;
}

/* preebook part  */
.preebook-part {
  display: flex;
  align-content: flex-end;
}
.preebook-info {
  width: 50%;
}
.preebook-image {
  width: 50%;
  margin-left: 250px;
  background-image: url(images/Circle\ design.svg);
  background-repeat: no-repeat;
  margin-bottom: 20%;
  background-size: 420px;
  background-position: center;
}
.preebook{
    height: 500px;

}
.preebook-part img{
    transition: ease-in-out 1s
}
.preebook-part:hover img{
    transform: rotate(30deg);
}
.preebook-button{
    background-color:#E02C6D;
    padding: 12px 40px;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin-top: 19px;

}
/* logo part  */
.logo-part{
    margin-top: 1px;
}
.shop-logo{
    display: grid;
    grid-template-columns:repeat(8, 1fr);
    grid-gap:2px;
    width: 100%;
   margin-left: 10px;
   border-bottom: 1px solid #C0CCDA;
   border-top: 1px solid #C0CCDA;
   padding-top: 25px;
}
#popular-collection-title{
    text-align: center;
    margin-top: 100px;
}

.popular-items{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    /* padding: 0px 20px; */
}
.container{
    width: 350px;
    height: 465px;
    box-shadow: 0 0 8px 1px gray;
    grid-gap:30px;
    margin: 10px; 
    padding: 14px;
    border-radius: 5px;
   
}
.container img{
    width: 350px;
    height: 256px;
}
.star-color{
  color: Orange ;
}
.rating-number{
  margin-left: 10px;
}

.see-more-button{
  color: #E02C6D;
  float: right;
  padding-top: 40px;
  font-weight: bold;
}

/* extra-part start */
.extra-part{
  display: flex;
  margin-top: 150px;
  padding-left: 15px;
}
.extra-part-info{
  width: 50%;
  margin-left: 96px;
}
.know-more-button{
  display: inline-block;
  margin-top: 16px;
  background-color:#E02C6D;
  padding: 12px 40px;
  border-radius: 2px;
  font-weight: bold;
  color: white;
}

/* footer part  */
footer{
  background-color: black;
  color: white;
  text-align: center;
  margin: 0 -60px;
  margin-top: 100px;
  padding: 10px 0;
}
.social-media-link a{
text-decoration: none;
color: white;
padding-left: 10px;
}


/* media querry  */
/* for mobile device  */
@media only screen and (max-width:576px){
  /* common style  */
  section{
    margin: 1px 2px;
  }
  /* header part  */
  .header{
    display: none;
  }
  /* prebook part  */
  .preebook-part{
    flex-direction: column;
  }
  h1{
    font-size: 20px;
    /* text-align: center; */
  }
  .preebook-info{
    width: 100%;
  }
  .center-alignment{
    text-align: center;
  }
  .preebook-button{
    display: inline-block;
    /* float: right; */
    text-align: center;
    justify-content: center;
  }
  .center{
    text-align: center;
  }
  .preebook-image {
    width: 100%;
    margin: 10px -20px;
    padding: 20px 20px;
    background-size: 350px;
  }
  .preebook-image img{
    width: 90%;
    margin-left: 20px;
    
  }

  /* shop logo part  */
  
  .logo-part{
    margin-top: 300px;
}
.shop-logo{
  width: 100%;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin-left: 10px;
    border: 0px;
    margin-top: -70px;
   
}
.shop-logo img{
  width: 50px;

}



}